*{
    margin: 0px;
    font-family: 'inter'
}

#logo{
    margin-left: 50px;
    margin-top: 50px;
}
#titulo-menu-superior{
    margin-left: 150px;
    margin-top: 50px;
}

#texto-menu-superior{
    margin-left: 150px;
    margin-top: 35px;
    padding-bottom: 100px;
}

#menusuperior{
    background-image: url(Imagens/fundo-menusuperior.svg);
    color:antiquewhite;
}

#menuinformacional{
    background-color: #EAECE5;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.icone{
    margin: 50px 0px 50px 100px;
    padding: 25px;
}

#secaovideo{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.textoinformativo{
    display: flex; 
    align-items: center;
}

#titulovideo{
    color: #247BA0;
    margin-top: 50px;
}

#video{
    margin: 50px 25px 50px 100px;
}

#carrossel{
    background-color: #247BA0;
    padding: 50px;
}

#titulocarrossel{
    color: #EAECE5;
    text-align: center;
    font-size: 25px;
}

#div-cards{
    display: grid;
    grid-auto-flow: column;
}

.cards{
    margin-left: 50px;
}

#setaesquerda{
    display: none;
}

#bruna{
    display: none;
}

#setaesquerda{
    margin-top: 80px;
}

.seta{
    margin-top: 55px;
    cursor: pointer;
}

.seta:hover{
    transform:translateY(-7px);
    transition-duration: 0.5s;
}

#formulario{
    text-align: center;
}

#tituloformulario{
    font-size: 25px;
    margin: 30px;
    color: #383838;
}

input{
    Width: 300px;
    Height: 40px;
    background-color: #EAECE5;
    margin: 15px;
    border: 0px;
    border-radius: 5px;
    padding-left: 10px;
}

button{
    background-color: #247BA0;
    Width: 250px;
    Height: 40px;
    color: #EAECE5;
    border: 0px;
    border-radius: 5px;
    margin-bottom: 50px;
    font-weight: bolder;
    cursor: pointer;
}

button:hover{
    background-color: #1b5b77;
    color: white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #0333479d;
    transition-duration: 0.5s;
}

